<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login Page</title>
        <style>body{
        background-color:white;
        }
        div{ margin:8px}
        button {
	background-color: green;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 7%;
}
        </style>
    </head>
    <body>
        <div style="text-align:center"><h2>Login Form</h2></div>
        <form th:action="@{/login}" method="post">
            <div style="text-align:center"><label>Username :<br><input type="text" placeholder="Enter Username" name="username"/> </label></div>
            <div style="text-align:center"><label>Password :<br><input type="password" placeholder="Enter Password" name="password"/> </label></div>
    <div style="text-align:center"><button type="submit">Login</button></div>
        </form>
        <div th:if="${param.error}" style="text-align:center">
            Invalid user name and password.
        </div>
        <div th:if="${param.logout}" style="text-align:center">
            You have been logged out.
        </div>
    </body>
</html>